[user]
  name = Andreas Amundsen
  email = andreas.amundsen123@gmail.com
  username = amunds1
[init]
	defaultBranch = main
[core]
	ignorecase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
